{% extends 'navbar.html' %}
{% load static %}

{% block contentHead %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'gestioneMenu' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-book fa-6x"></i>
                    <p>Gestione Menu</p>
                </div>
            </a>
        </div>
       
        
        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'gestioneSala' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-store-alt fa-6x"></i>
                    <p>Gestione Sala</p>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'gestioneMagazzino' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-warehouse fa-6x"></i>
                    <p>Gestione Magazzino</p>
                </div>
            </a>
        </div>

        {% if permessoAggiuntaUtente %}
            <div class="col-sm-12 col-md-6 col-lg-3 categoria">
                <a href="{% url 'registrazione' %}">
                    <div class="contenutoCategoria">
                        <i class="fas fa-user-cog fa-6x"></i>
                        <p>Gestione Utenti</p>
                    </div>
                </a>
            </div>
        {% endif %}
        
    </div>
</div>


{% endblock %}