body{
    background-color: #e6e6e6;
}
a, a:hover{
    text-decoration: none;
    color: black;
}
.categoria{
    padding: 10px;
}
.contenutoCategoria{
    padding: 10px;
    background-color: rgb(30,109,255);
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: larger;  
    transition: background-color 0.5s ease-out;
}
.contenutoCategoria:hover{
    background-color: rgb(144, 183, 255);
}
@media only screen and (max-width: 600px) {
    .contenutoCategoria{
        width: 98%;
        margin-right: 1%;
        margin-left: 1%;
    }
}
.iconaCategoria{
    size: 10%;
}
.iconaLogout{
    color: white;
}
.formLogout{
    margin-right: 2%;
}
.buttonLogout{
    border:none;
    background-color: rgb(30,109,255);
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0d6efd;
    margin: auto;
    padding: 10px;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

 .centrato{
   margin: auto;
   width: 50%;
   align-items: center;
   text-align: center;
 }