.divLogin{
    border: 1px solid black;
    text-align: center;
    padding-bottom:1%;
}
.titoloLogin{
    color: white;
    font-size: larger;
    background-color: #0d6efd;
    margin-bottom: 2%;
}
.buttonClose{
    width: 10%;
    height: 10%;
    border-radius: 50px;
    background-color: #cc1919;
    border: 1px solid #f1f1f1;
    position: relative;
    top: 0;
    right: 0;
}
.divErrore{
    background-color: #cc1919;
    border-radius: 10px;
    padding: 10px;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 1%;
}
@media only screen and (max-width: 600px) {
    .divLogin, .divErrore{
        margin-top: 4%;
        margin-right: 3%;
        margin-left: 3%;
    }
    .desktopOnly{
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .divLogin{
        margin-top: 4%;
        margin-right: 35%;
        margin-left: 35%;
    }
}