.ordinato{
    border: none;
    background-color: blueviolet;
    transition: background-color 0.5s ease-out;
}
.ordinato:hover{
    background-color: rgb(91, 0, 175);
}
button{
    padding: 10px;
}
.titolo{
    font-weight: bold;
}