{% extends 'navbar.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Gestione Menu</li>
        </ol>
    </nav>
    <hr>
</div>
<div class="container">
    <div class="row">
        
        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'menu' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-book fa-6x"></i>
                    <p>Modifica Menu</p>
                </div>
            </a>
        </div>
       
        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'piatti' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-utensils fa-6x"></i>
                    <p>Gestione Piatti</p>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'ingredienti' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-carrot fa-6x"></i>
                    <p>Gestione Ingredienti</p>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'categorie' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-file-alt fa-6x"></i>
                    <p>Gestione Categorie</p>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'misure' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-ruler fa-6x"></i>
                    <p>Gestione Misure</p>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock %}