<table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">Piatto</th>
        <th scope="col">Descrizione</th>
        <th scope="col">Prezzo</th>
        {% if permessiAzioni %}
          <th scope="col">Azioni</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for piatto in menu %}
        <tr>
            <td>
                {{ piatto.idPiatto }}
            </td>
            <td>
                {{ piatto.descrizione}}
            </td>
            <td>
                {{ piatto.prezzo}} €
            </td>
            {% if permessiAzioni %}
            <td>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <form hx-post="{% url 'confirmEliminaPiattoMenu' %}" hx-target="#dialog" @click="dialogOpen=true">
                    <input type="hidden" value="{{piatto.id}}" name="idPiatto">
                    {% csrf_token %}
                    <button type="submit" class="buttonSubmit"><i class="fas fa-trash"></i></button>
                  </form>
                </div>
                

              </div>
              
            </td>
            {% endif %}
        </tr>

        {% endfor %}
      
    </tbody>
  </table>