{% extends 'navbar.html' %}

{% load static %}

{% block contentHead %}
<link rel="stylesheet" href="{% static 'css/tabella.css' %}">
{% endblock %}

{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#sale" type="button" role="tab" aria-controls="home" aria-selected="true">Sale</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tavoli" type="button" role="tab" aria-controls="profile" aria-selected="false">Tavoli</button>
    </li>
  </ul>
  <br>
  <div class="tab-content" id="myTabContent">
    <!-- Sale -->
    <div class="tab-pane fade show active" id="sale" role="tabpanel">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div id="divNotifica"></div>
        </div>
      </div>

        <div class="row">
          {% if permessiAzioni %}
          <div class="col-sm-12 col-md-6 col-lg-4">
            <form hx-post="{% url 'nuovaSala' %}" hx-target="#divNotifica" class="formInserimento">
              {% csrf_token %}
              <div class="row">
                <button type="submit" class="btn btn-primary buttonAzione" >Nuova Sala</button>
              </div>
          </form>
        </div>
            {% endif %}
          </div>
          
          
          <div hx-get="{% url 'tabellaSale' %}" hx-trigger="every 1s">
            <div class="loader"></div>
          </div> 
          
    </div>
    <!--Tavoli-->
    <div class="tab-pane fade" id="tavoli" role="tabpanel">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div id="divNotificaTavolo"></div>
        </div>
      </div>
      <div class="row">
      {% if permessiAzioni %}
      <div class="col-sm-12 col-md-6 col-lg-4">
        <form hx-post="{% url 'nuovoTavolo' %}" hx-target="#divNotificaTavolo" class="formInserimento">
          {% csrf_token %}
          <div class="row">
            <button type="submit" class="btn btn-primary buttonAzione" >Nuovo Tavolo</button>
          </div>
      </form>
    </div>
      {% endif %}
      </div>

      <div hx-get="{% url 'tabellaTavoli' %}" hx-trigger="every 1s">
        <div class="loader"></div>
      </div> 
            
    </div>
  </div>
{% endblock %}