{% if preparazioni.count > 0 %}
<div class="row">
    {% if permessiAzioni %}
    <div class="col-sm-12 col-md-6 col-lg-4">
        <form hx-post="{% url 'effettuaPreparazioni' %}" hx-target="#divNotifica">
            <div class="row">
                <button type="submit" class="btn btn-primary buttonAzione">Effettua Preparazioni</button>
                {% csrf_token %}
            </div>
        </form>
    </div>
    {% endif %}
</div>

<table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">Ingrediente</th>
        <th scope="col">Quantità Minima Richiesta</th>
      </tr>
    </thead>
    <tbody>
        {% for preparazione in preparazioni %}
        <tr {% if preparazione.idScorta.quantitaAttuale <= 0 %} class="urgente" {% endif %}>
            <td>
              {{ preparazione.idScorta.idIngrediente }}
            </td>
            <td>
              {{ preparazione.quantita }} {{preparazione.idScorta.idIngrediente.idMisura}}
            </td>
        </tr>

        {% endfor %}
      
    </tbody>
  </table>
{% else %}
<div class="centrato">
    <i class="fas fa-check fa-8x"></i>
    <br>
    Nessun elemento nella lista delle preparazioni.
</div>
{% endif %}