<div class="row">
    <div class="col-sm-11 col-md-8 ordiniPreparazione">
        {% if ordiniinpreparazione %}
        <h3>Ordini in preparazione</h3>
        {% for ordine in ordiniinpreparazione %}
        <div class="col-sm-11 col-md-3 ordine">
            <p>Tavolo: {{ordine.idTavolo}}</p>
            <hr>
            {% for componente in componentiinpreparazione %}
            <div class="row">
                <p class="col-10">{{componente.quantita}} x {{componente.idPiatto}} (Uscita: {{componente.uscita}})</p>
                <form hx-post="{% url 'componenteServito' %}" hx-target="#divNotifica" class="col-2">
                    <input type="hidden" value="{{componente.id}}" name="idComponente">
                    {% csrf_token %}
                    <button type="submit" class="buttonSubmit"><i class="fas fa-share"></i></button>
                </form>
                {% if componente.variazioni %}
                <p class="col-10">Variazioni: {{componente.variazioni}}</p>
                {% endif %}
            </div>
                
            <hr>
            {% endfor %}
        </div>
            
        {% endfor %}

        {% else %}
        <div class="centrato">
            <h3>Nessun ordine attualmente in preparazione.</h3>
        </div>
        {%endif%}
    </div>
    <div class="col-sm-12 col-md-3 ordiniAttesa">
        {% if componentiinattesa %}
        <h3>Ordini in Attesa</h3>
        {% for componente in componentiinattesa %}
            <hr>
            <div class="row">
                <p class="col-10">Tavolo: {{componente.idOrdine.idTavolo}}</p>
                <p class="col-10">{{componente.quantita}}x{{componente.idPiatto}} (Uscita:{{componente.uscita}})</p>
                <form hx-post="{% url 'inizioPreparazioneComponente' %}" hx-target="#divNotifica" class="col-2">
                    <input type="hidden" value="{{componente.id}}" name="idComponente">
                    {% csrf_token %}
                    <button type="submit" class="buttonSubmit"><i class="fas fa-utensils"></i></button>
                </form>
                {% if componente.variazioni %}
                <p class="col-10">Variazioni: {{componente.variazioni}}</p>
                {% endif %}
            </div>
                
            <hr>
        {% endfor %}
            
        {% else %}
        <div class="centrato">
            <h3>Nessun ordine in attesa.</h3>
        </div>
        {% endif %}
    </div>
</div>