{% extends 'navbar.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Gestione Sala</li>
        </ol>
    </nav>
    <hr>
  </div>
<div class="container">
    <div class="row">
        
        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'saleTavoli' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-store-alt fa-6x"></i>
                    <p>Modifica Tavoli e Sale</p>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'ordini' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-file-alt fa-6x"></i>
                    <p>Gestione Ordini</p>
                </div>
            </a>
        </div>
        {% if permessiAzioni %}
        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <form hx-post="{% url 'confermaFineServizio' %}"  hx-target="#dialog" @click="dialogOpen = true">
                {% csrf_token %}
                <button  class="submitCategoria contenutoCategoria">
                    <i class="fas fa-store-slash fa-6x"></i>
                    <p>Fine Servizio</p>
                </button>
            </form>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}