{% extends 'navbar.html' %}

{% load static %}

{% block contentHead %}
<link rel="stylesheet" href="{% static 'css/tabella.css' %}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div id="divNotifica"></div>
  </div>
</div>
<div class="row">
  {% if permessiAzioni %}
  <div class="col-sm-12 col-md-6 col-lg-4">
    <form hx-post="{% url 'nuovaCategoria' %}" hx-target="#divNotifica" class="formInserimento">
      {% csrf_token %}
      <div class="row">
        <button type="submit" class="btn btn-primary buttonAzione" >Nuova Categoria</button>
      </div>
  </form>
  </div>
  {% endif %}
</div>


<div hx-get="{% url 'tabellaCategorie' %}" hx-trigger="every 1s">
  <div class="loader"></div>
</div>
{% endblock %}