{% extends 'navbar.html' %}

{% block content %}
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Gestione Magazzino</li>
        </ol>
    </nav>
    <hr>
  </div>
<div class="container">
    <div class="row">
        
        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'scorte' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-book fa-6x"></i>
                    <p>Gestione Scorte Magazzino</p>
                </div>
            </a>
        </div>
       
        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'spese' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-utensils fa-6x"></i>
                    <p>Lista della spesa</p>
                </div>
            </a>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 categoria">
            <a href="{% url 'preparazioni' %}">
                <div class="contenutoCategoria">
                    <i class="fas fa-carrot fa-6x"></i>
                    <p>Lista delle preparazioni</p>
                </div>
            </a>
        </div>

    </div>
</div>


{% endblock %}