    <form hx-post="{% url 'applicaInserimentoModificaPiatto' %}" class="formInserimento">
      
        <div>
          <div class="row">
            <button type="submit" class="btn btn-success buttonAzione">Conferma {{oggetto}}</button>
          </div>
      
          <br>
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-12 col-md-3">
              {{form.nome.label}}
            </div>
            <div class="col-sm-12 col-md-9">
              {{form.nome}}
            </div>
          </div>  
          <br>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              {{form.idCategoria.label}}
            </div>
            <div class="col-sm-12 col-md-9">
              {{form.idCategoria}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              {{form.tempoPreparazione.label}}
            </div>
            <div class="col-sm-12 col-md-9">
              {{form.tempoPreparazione}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              {{form.tempoCottura.label}}
            </div>
            <div class="col-sm-12 col-md-9">
              {{form.tempoCottura}}
            </div>
          </div>
          <input type="hidden" value="{{ idPiatto }}" name="idPiatto">
          <br>
      
          
        </div>
  </form>
