<div id="divNotificaIngredientePiatto">
    <form hx-post="{% url 'applicaModificheIngredientePiatto' %}" hx-swap="outerHTML" class="formInserimento">
      
        <div>
          <div class="row">
            <button type="submit" class="btn btn-success buttonAzione">Conferma Modifica</button>
          </div>
      
          <br>
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-12 col-md-3">
              {{form.idPiatto.label}}
            </div>
            <div class="col-sm-12 col-md-9">
              {{form.idPiatto}}
            </div>
          </div>  
          <br>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              {{form.idIngrediente.label}}
            </div>
            <div class="col-sm-12 col-md-9">
              {{form.idIngrediente}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12 col-md-3">
              {{form.quantita.label}}
            </div>
            <div class="col-sm-12 col-md-9">
              {{form.quantita}}
            </div>
          </div>
          <br>
          <input type="hidden" value="{{ idIngredientePiatto }}" name="idIngredientePiatto">
          <br>
      
          
        </div>
  </form>
</div>
