{% extends 'navbar.html' %}

{% load static %}

{% block contentHead %}
<link rel="stylesheet" href="{% static 'css/tabella.css' %}">
{% endblock %}

{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#piatti" type="button" role="tab" aria-controls="home" aria-selected="true">Piatti</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#ingredientiPiatti" type="button" role="tab" aria-controls="profile" aria-selected="false">Ingredienti Piatti</button>
    </li>
  </ul>
  <br>
  <div class="tab-content" id="myTabContent">
    <!-- PIATTI -->
    <div class="tab-pane fade show active" id="piatti" role="tabpanel">
        <div class="row">
          {% if permessiAzioni %}
            <div class="col-sm-12 col-md-6 col-lg-4">
              <form hx-post="{% url 'nuovoPiatto' %}" hx-swap="outerHTML" class="formInserimento">
                <div x-data="{ inserimento: false }">
                  <div class="row">
                    <button type="button" class="btn btn-primary buttonAzione" @click="inserimento = true" x-show="!inserimento">Nuovo Piatto</button>
                  </div>
                  
                  <div x-show="inserimento">
                    <div class="row">
                      <button type="button" class="btn btn-primary buttonAzione" @click="inserimento = false" x-show="inserimento">Annulla Inserimento</button>
                      <button type="submit" class="btn btn-success buttonAzione">Conferma Inserimento</button>
                    </div>
                
                    <br>
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        {{piattoform.nome.label}}
                      </div>
                      <div class="col-sm-12 col-md-9">
                        {{piattoform.nome}}
                      </div>
                    </div>  
                    <br>
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        {{piattoform.idCategoria.label}}
                      </div>
                      <div class="col-sm-12 col-md-9">
                        {{piattoform.idCategoria}}
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        {{piattoform.tempoPreparazione.label}}
                      </div>
                      <div class="col-sm-12 col-md-9">
                        {{piattoform.tempoPreparazione}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        {{piattoform.tempoCottura.label}}
                      </div>
                      <div class="col-sm-12 col-md-9">
                        {{piattoform.tempoCottura}}
                      </div>
                    </div>
                    <br>
                
                    
                  </div>
                
                </div>
                </form>
            </div>
            {% endif %}
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="divModifica"></div>
            </div>
          </div>
          
          
          
          <table class="table table-primary">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Tempo Preparazione</th>
                  <th scope="col">Tempo Cottura</th>
                  <th scope="col">Azioni</th>
                </tr>
              </thead>
              <tbody>
                  {% for piatto in piatti %}
                  <tr>
                      <th scope="row">
                        {{ piatto.id}}
                      </th>
                      <td>
                          {{ piatto.nome }}
                      </td>
                      <td>
                        {{ piatto.idCategoria }}
                      </td>
                      <td>
                          {{ piatto.tempoPreparazione}} Minuti
                      </td>
                      <td>
                          {{ piatto.tempoCottura}} Minuti
                      </td>
                      <td>
                        <div class="row">
                          {% if permessiAzioni %}
                          <div class="col-sm-6 col-md-3">
                            <form hx-post="{% url 'modificaPiatto' %}" hx-swap="outerHTML" hx-target="#divModifica">
                              <input type="hidden" value="{{piatto.id}}" name="idPiatto">
                              {% csrf_token %}
                              <button type="submit"  class="buttonSubmit"><i class="fas fa-edit"></i></button>
                            </form>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <form hx-post="{% url 'eliminaPiatto' %}" hx-swap="outerHTML" hx-target="#divModifica">
                              <input type="hidden" value="{{piatto.id}}" name="idPiatto">
                              {% csrf_token %}
                              <button type="submit" onclick="return confirm('Vuoi davvero eliminare questo piatto?')" class="buttonSubmit"><i class="fas fa-trash"></i></button>
                            </form>
                          </div>
                          {% endif %}
          
                        </div>
                        
                      </td>
                  </tr>
          
                  {% endfor %}
                
              </tbody>
            </table>
    </div>
    <!--Ingredienti Piatti-->
    <div class="tab-pane fade" id="ingredientiPiatti" role="tabpanel">
      <div class="row">
      {% if permessiAzioni %}
            <div class="col-sm-12 col-md-6 col-lg-4">
              <form hx-post="{% url 'nuovoIngredientePiatto' %}" hx-swap="outerHTML" class="formInserimento">
                <div x-data="{ inserimento: false }">
                  <div class="row">
                    <button type="button" class="btn btn-primary buttonAzione" @click="inserimento = true" x-show="!inserimento">Nuovo Ingrediente di un Piatto</button>
                  </div>
                  
                  <div x-show="inserimento">
                    <div class="row">
                      <button type="button" class="btn btn-primary buttonAzione" @click="inserimento = false" x-show="inserimento">Annulla Inserimento</button>
                      <button type="submit" class="btn btn-success buttonAzione">Conferma Inserimento</button>
                    </div>
                
                    <br>
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        {{ingredientepiattoform.idPiatto.label}}
                      </div>
                      <div class="col-sm-12 col-md-9">
                        {{ingredientepiattoform.idPiatto}}
                      </div>
                    </div>  
                    <br>
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        {{ingredientepiattoform.idIngrediente.label}}
                      </div>
                      <div class="col-sm-12 col-md-9">
                        {{ingredientepiattoform.idIngrediente}}
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12 col-md-3">
                        {{ingredientepiattoform.quantita.label}}
                      </div>
                      <div class="col-sm-12 col-md-9">
                        {{ingredientepiattoform.quantita}}
                      </div>
                    </div>
                    <br>
                
                    
                  </div>
                
                </div>
                </form>
            </div>
            {% endif %}
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div id="divModificaIngredientePiatto"></div>
            </div>
          </div>
            <table class="table table-primary">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Piatto</th>
                  <th scope="col">Ingrediente</th>
                  <th scope="col">Quantita</th>
                  <th scope="col">Azioni</th>
                </tr>
              </thead>
              <tbody>
                  {% for ingredientepiatto in ingredientipiatti %}
                  <tr>
                      <th scope="row">
                        {{ ingredientepiatto.id}}
                      </th>
                      <td>
                          {{ ingredientepiatto.idPiatto }}
                      </td>
                      <td>
                          {{ ingredientepiatto.idIngrediente }}
                      </td>
                      <td>
                          {{ ingredientepiatto.quantita }} 
                      </td>
                      <td>
                        <div class="row">
                          {% if permessiAzioni %}
                          <div class="col-sm-6 col-md-3">
                            <form hx-post="{% url 'modificaIngredientePiatto' %}" hx-swap="outerHTML" hx-target="#divModificaIngredientePiatto">
                              <input type="hidden" value="{{ingredientepiatto.id}}" name="idIngredientePiatto">
                              {% csrf_token %}
                              <button type="submit"class="buttonSubmit"><i class="fas fa-edit"></i></button>
                            </form>
                          </div>
                          <div class="col-sm-6 col-md-3">
                            <form hx-post="{% url 'eliminaIngredientePiatto' %}" hx-swap="outerHTML" hx-target="#divModificaIngredientePiatto">
                              <input type="hidden" value="{{ingredientepiatto.id}}" name="idIngredientePiatto">
                              {% csrf_token %}
                              <button type="submit" onclick="return confirm('Vuoi davvero eliminare questo ingrediente del piatto?')" class="buttonSubmit"><i class="fas fa-trash"></i></button>
                            </form>
                          </div>
                          {% endif %}
          
                        </div>
                        
                      </td>
                  </tr>
          
                  {% endfor %}
                
              </tbody>
            </table>
    </div>
  </div>




{% endblock %}