<table class="table table-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Categoria</th>
        <th scope="col">Tempo Preparazione</th>
        <th scope="col">Tempo Cottura</th>
        {% if permessiAzioni %}
          <th scope="col">Azioni</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% for piatto in piatti %}
        <tr>
            <th scope="row">
              {{ piatto.id}}
            </th>
            <td>
                {{ piatto.nome }}
            </td>
            <td>
              {{ piatto.idCategoria }}
            </td>
            <td>
                {{ piatto.tempoPreparazione}} Minuti
            </td>
            <td>
                {{ piatto.tempoCottura}} Minuti
            </td>
            {% if permessiAzioni %}
            <td>
              <div class="row">
                
                <div class="col-sm-6 col-md-3">
                  <form hx-post="{% url 'modificaPiatto' %}" hx-target="#divNotifica">
                    <input type="hidden" value="{{piatto.id}}" name="idPiatto">
                    {% csrf_token %}
                    <button type="submit"  class="buttonSubmit"><i class="fas fa-edit"></i></button>
                  </form>
                </div>
                <div class="col-sm-6 col-md-3">
                  <form hx-post="{% url 'eliminaPiatto' %}" hx-target="#divNotifica">
                    <input type="hidden" value="{{piatto.id}}" name="idPiatto">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Vuoi davvero eliminare questo piatto?')" class="buttonSubmit"><i class="fas fa-trash"></i></button>
                  </form>
                </div>
                

              </div>
              
            </td>
            {% endif %}
        </tr>

        {% endfor %}
      
    </tbody>
  </table>