{% extends 'common.html' %}
{% load static %}

{% block contentHead %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block contentPrincipale %}
<div class="divLogin">
    <div class="titoloLogin">
        Registrazione
    </div>
    <div class="corpoLogin">
            <div class="container">
                <form method="POST" action="{% url 'nuovoUtente' %}">
                    {% csrf_token %}
                    {{ form.username.label}}
                    {{ form.username }}
                    <br><br>
                    {{ form.password.label}}
                    {{ form.password }}
                    <br><br>
                    {{ form.nome.label}}
                    {{ form.nome }}
                    <br><br>
                    {{ form.cognome.label}}
                    {{ form.cognome }}
                    <br><br>
                    {{ form.email.label}}
                    {{ form.email }}
                    <br><br>
                    <button type="submit" class="btn btn-primary">Registrazione</button>
                </form>
            </div>       
    </div>
</div>
{% endblock %}
