{% extends 'navbar.html' %}
{% load static %}

{% block contentHead %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Nuovo Utente</li>
        </ol>
    </nav>
    <hr>
</div>

<div class="divLogin">
    <div class="titoloLogin">
        Registrazione
    </div>
    <div x-data="{ open: true }" x-show="open" class="divErrore">
        <button @click="open = false" class="buttonClose"><i class="fas fa-times"></i></button>
        {{messaggio}}
    </div>
    <div class="corpoLogin">
            <div class="container">
                <form method="POST" action="{% url 'nuovoUtente' %}">
                    {% csrf_token %}
                    {{ form.username.label}}
                    {{ form.username }}
                    <br><br>
                    {{ form.password.label}}
                    {{ form.password }}
                    <br><br>
                    {{ form.nome.label}}
                    {{ form.nome }}
                    <br><br>
                    {{ form.cognome.label}}
                    {{ form.cognome }}
                    <br><br>
                    {{ form.email.label}}
                    {{ form.email }}
                    <br><br>
                    <button type="submit" class="btn btn-primary">Registrazione</button>
                </form>
            </div>       
    </div>
</div>
{% endblock %}
